@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
      format("opentype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-side {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 50%;
}

.left-side h2 {
  text-align: left;
  margin-bottom: 10px;
}

.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #007bff;
  background-color: #f4f4f4;
  cursor: pointer;
  height: 100%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dropzone p {
  margin: 0;
  text-align: center;
}

.dropzone.active {
  background-color: #e0f7fa;
  border-color: #00acc1;
}

.file-list {
  margin-top: 20px;
}

.file-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-list ul li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.right-side {
  flex: 1;
  margin-right: 20px;
}

.right-side .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 10px;
}

.right-side h2 {
  margin: 0;
}

.controls {
  display: flex;
  flex-direction: row;
}

.inputs {
  margin-bottom: 20px;
  width: 100%;
}

.inputs label {
  display: block;
  margin-bottom: 10px;
}

.inputs input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
}

.convert-button {
  height: 35px;
  width: 100px;
  padding: 5px 20px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.convert-button:hover {
  background: #0056b3;
}

.leftbox .options {
  background-color: #f0f0f0;
  margin-bottom: 5px;
  padding: 15px;
}

.radio-group {
  display: flex;
}

.radio-option {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.last-option{
  margin-right: 0;
}

.radio-option input[type="radio"] {
  display: none;
}

.radio-option label {
  margin: 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.radio-option.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.radio-option.selected label {
  color: white;
}

.radio-option:not(.selected):hover {
  background-color: #f0f0f0;
  border-color: #007bff;
}



.containerset {
  padding: 0px 10px;
  font-family: Arial, sans-serif;
}

.item {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.item label {
  margin: 0;
  cursor: pointer;
  text-align: center;
}

h3 {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.leftbox{
  width: 50%;
}

.leftbox .options {
  display: flex;
  flex-direction: row;
  height: 15%;
}

.leftbox .options2 {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 15px;
  margin-bottom: 5px;
  height: 35%;
}

.leftbox .options2 label {
  display: flex;
  flex-direction: column;
}

.translate-file-container {
  display: flex;
  flex-direction: row;
}

.translate-file-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  overflow-x: hidden;
}

.translate-file-ul {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin: 10px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 18px;
}

li {
  list-style: none;
}

.leftbox .options-checkbox{
  flex-direction: column;
  height: 17%;
}

.rightbox{
  width: 50%;
}

.file-list {
  margin-top: 20px;
}

.file-item {
  margin-bottom: 5px;
}